* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
}

main p {
    text-align: justify;
    padding: 10px;

}

main h2 {
    text-align: center;
    margin: 0;
    padding: 40px;
}

img {
  display: block;
  margin: 0 auto;
}

footer p {
    text-align: end;
}